body {
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 175%;
}

img {
    max-width: 100%;
}

.navbar {
    margin-bottom: 0px;
    border-width: 0px;
}

.well {
    border-radius: 0px;
}

.captionbox {
    /*border-style:solid;
    border-color:#BBB;
    border-width:thin;
    background-color:#EEE;*/
    margin:20px;
    padding:10px;
    font-size:smaller;
    font-style:italic;
    text-align:center;
    word-wrap:break-word;
    line-height: normal;
}

.captionbox p {
    padding:8px 5px 0px 5px;
    margin:0px;
}

.affix,.navbar-fixed-top{
    -webkit-transform: scale3d(1,1,1);
}

section { 
    padding-top: 35px; 
}

h5 {
    font-weight: bold;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu {
    width: 180px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

a[target="_blank"] {
    font-weight:bold;
    padding-right: 14px;
    background:transparent url(img/external.gif) center right no-repeat;
}

.button {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #888;
    background-color: #CCC;
    padding: 1px 3px;
    white-space: nowrap;
}

.key {
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    border-radius: 4px;
    padding: 1px 3px;
    white-space: nowrap;
}

.menu {
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    padding: 1px 3px;
    white-space: nowrap;
}

.component {
    white-space: nowrap;
}

.lb-image { 
    max-width: inherit; 
}