body {
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.captionbox {
    border-color:#CCCCCC;
    border-width:thin;
    background-color:#EEEEEE;
    margin:10px;
    padding:5px;
    font-size:smaller;
    font-style:italic;
    text-align:center;
    word-wrap:break-word;
}

div[class=captionbox] p {
padding: 5px 5px 0px 5px;
}